@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
    url("./fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("./fonts/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
    url("./fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
    url("./fonts/Atkinson-Hyperlegible-Bold-102.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
    url("./fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
    url("./fonts/Atkinson-Hyperlegible-Italic-102.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

ul {
  list-style: none;
}

html,
body,
.container {
  height: 100%;
}

.d-none {
  display: none !important;
}

.intouchable {
  pointer-events: none;
}

.container {
  background-color: #023047;
  background-image: linear-gradient(#023047, #093949);
  max-width: 500px;
  max-height: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #222;
}

/* Header */

.header {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #0005;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px #0003;
}

.score {
  height: 60px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.scoreText {
  margin: 0 0.2em;
  padding-top: 0.1em;
  transform: translateY(-0.05em);
  width: 1.8em;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
}

.anim-score-up {
  animation: score-up 0.5s forwards;
}
.anim-score-down {
  animation: score-down 0.5s forwards;
}

@keyframes score-up {
  0% {
    color: hsl(76, 100%, 50%);
    border-color: hsl(76, 100%, 50%);
  }
}

@keyframes score-down {
  0% {
    color: hsl(17, 100%, 60%);
    border-color: hsl(17, 100%, 60%);
  }
}

.nav img {
  display: block;
  background-color: #fff;
  height: 60px;
  width: 60px;
  padding: 10px;
}

/* Question Area */

.questionArea {
  flex: 1;
  padding: 24px;
  text-align: center;
}

.question {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  background-color: #f5f3f4;
  padding: 16px 20px;
  outline: 3px solid #00000055;
  overflow: hidden;
}

.question::before {
  position: absolute;
  content: "Correct !";
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  left: 0;
  top: 0;
  transform: translateY(-2em);
  transition: all 0.3s;
  background-color: hsl(76, 100%, 50%);
  border-bottom: 2px solid #0003;
}

.question::before {
  color: #2220;
}

.question--correct::before {
  transform: initial;
  color: #222d;
}

.questionTitle {
  line-height: 1.2;
  font-size: 1.5rem;
  flex: 1;
  display: flex;
  align-items: center;
}

#questionChoices {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  border-top: 1px solid #09394933;
}

.questionChoiceLabel {
  position: relative;
  width: 100%;
  height: 3em;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.2em 0.3em;
  transition: all 0.2s;
  outline: 3px solid transparent;
  outline-offset: -3px;
  cursor: pointer;
}

.questionChoiceLabel::before {
  position: absolute;
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 5px);
  background-color: #093949;
  opacity: 0.2;
  z-index: -1;
  top: -1px;
  left: -1px;
  transition: inherit;
}

.questionChoiceLabel--faded {
  color: #2222229e;
}

.questionChoiceLabel--correct {
  outline-color: hsl(76, 100%, 50%);
}

.questionChoiceLabel--correct::before {
  opacity: 1;
  background-color: hsl(76, 100%, 35%);
}

.questionChoiceLabel--wrong {
  outline-color: hsl(17, 100%, 80%);
}

.questionChoiceLabel--wrong::before {
  opacity: 1;
  background-color: hsl(17, 100%, 60%);
}

.questionChoiceInput {
  opacity: 0;
}

.questionChoiceInput:checked + .questionChoiceLabel,
.questionChoiceInput:focus + .questionChoiceLabel {
  outline-color: hsl(49, 100%, 64%);
}

.questionChoiceInput:checked + .questionChoiceLabel::before {
  opacity: 0.3;
}

/* Actions Area */

.actionsArea {
  background-color: #fff1;
  display: flex;
}

.actionBtn {
  all: unset;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 52px;
  height: 64px;
  padding: 4px;
  background-color: #fff1;
  outline: 1px solid #fff5;
  color: #fff;
}

.actionBtn span {
  display: block;
  margin-top: 0.3em;
  font-size: 1rem;
}

.actionBtn:hover {
  background-color: #fff;
  cursor: pointer;
}

/* New Question Form */

#newQuestionForm {
  z-index: 99;
  display: flex;
  position: absolute;
  width: 100%;
  top: 60px;
  align-items: center;
  flex-direction: column;
  background-color: #222;
  color: #fff;
  padding: 1em 1.5em 4em;
}

#newQuestionForm > * {
  max-width: 500px;
  min-width: 90%;
}

#newQuestionForm label {
  display: flex;
  flex-direction: column;
}

#newQuestionForm label {
  margin-top: 1em;
}

#newQuestionForm label input,
#newQuestionForm label textarea {
  display: block;
  margin-top: 0.2em;
  padding: 0.5em;
}

.newQuestionAnswers {
  margin-top: 2rem;
}

.newQuestionIndexes {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.newQuestionIndexes label {
  padding: 0.75em 1.5em;
  outline: 1px solid white;
}

#newQuestionForm input[type="submit"] {
  display: block;
  width: 10em;
  margin: 3em auto 0;
  padding: 0.5em;
}

/* Help Modal */
#helpModal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 55;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
}

#helpModalQuestion {
  line-height: 1.2;
  font-size: 1.5rem;
  flex: 0 1 40%;
  display: flex;
  align-items: center;
}

#helpModal button {
  all: unset;
  padding: 1em;
  border: 1px solid #2225;
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: hsl(49, 100%, 72%);
  box-shadow: 0 2px 3px #2225;
  cursor: pointer;
}

#helpModal button:hover,
#helpModal button:focus {
  background-color: hsl(49, 100%, 64%);
}

#helpModal button:focus-visible {
  outline: 2px solid #222;
  outline-offset: 5px;
}

#helpMessage {
  font-size: 1.25rem;
  background-color: hsl(49, 100%, 90%);
  padding: 2em 1em;
  flex: 1;
  transition: all 0.5s;
  transform-origin: top;
}

.messageHidden {
  transform: scaleY(0);
}
